In [94]:
import pandas as pd
df = pd.read_csv('AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2021_Datensatz (1).csv', delimiter=';')
df

,OBJECTID,LAND,BEZ,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,219249,11,3,3701658.0,2021,11,18,2,3,0,...,1,0,1,0,0,1,"800202,0742","5829640,204","13,42689483","52,53393955"
1,219248,11,7,7501134.0,2021,12,19,7,3,6,...,1,1,0,0,0,1,"798479,5317","5819049,219","13,39209027","52,43995086"
2,219247,11,4,4100101.0,2021,12,17,4,3,5,...,1,0,0,0,0,0,"793352,6128","5829680,195","13,32624193","52,53802784"
3,219246,11,4,4501041.0,2021,12,15,7,3,5,...,1,0,1,0,0,1,"792950,0395","5825362,081","13,31652064","52,49953417"
4,219243,11,11,11501339.0,2021,12,9,5,3,3,...,1,0,0,0,1,2,"807182,01","5825602,793","13,52575163","52,49386714"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11262,112174,11,4,4300414.0,2021,3,16,4,3,6,...,1,1,0,0,0,1,"791505,4105","5826555,664","13,29634478","52,51100814"
11263,111541,11,4,4400726.0,2021,1,1,6,3,9,...,1,0,0,0,0,0,"791154,679","5824616,757","13,28949592","52,49381321"
11264,110370,11,3,2400520.0,2021,1,20,1,3,3,...,1,0,0,0,0,1,"799988,2122","5828912,431","13,42309463","52,52753402"
11265,109998,11,7,7300619.0,2021,1,14,7,3,2,...,1,0,0,0,0,1,"796018,2589","5822739,196","13,35925879","52,47436651"
11266,109753,11,12,12400723.0,2021,1,14,2,3,5,...,1,0,0,0,1,1,"791884,0985","5839010,713","13,31286818","52,6224611"

In [95]:
df.dtypes

OBJECTID         int64
LAND             int64
BEZ              int64
LOR_ab_2021    float64
UJAHR            int64
UMONAT           int64
USTUNDE          int64
UWOCHENTAG       int64
UKATEGORIE       int64
UART             int64
UTYP1            int64
ULICHTVERH       int64
IstRad           int64
IstPKW           int64
IstFuss          int64
IstKrad          int64
IstGkfz          int64
IstSonstige      int64
USTRZUSTAND      int64
LINREFX         object
LINREFY         object
XGCSWGS84       object
YGCSWGS84       object
dtype: object

In [96]:
#Changing column types

df['IstRad'] = df['IstRad'].astype(float)
df['IstPKW'] = df['IstPKW'].astype(float)
df['IstFuss'] = df['IstFuss'].astype(float)
df['IstKrad'] = df['IstKrad'].astype(float)
df['IstGkfz'] = df['IstGkfz'].astype(float)
df['IstSonstige'] = df['IstSonstige'].astype(float)
df['UKATEGORIE'] = df['UKATEGORIE'].astype(float)
df['UART'] = df['UART'].astype(float)
df['UTYP1'] = df['UTYP1'].astype(float)
df['ULICHTVERH'] = df['ULICHTVERH'].astype(float)
df['USTRZUSTAND'] = df['USTRZUSTAND'].astype(float)


df['XGCSWGS84'] = df['XGCSWGS84'].str.replace(',', '.').astype(float)
df['YGCSWGS84'] = df['YGCSWGS84'].str.replace(',', '.').astype(float)

df['UJAHR'] = df['UJAHR'].map(str)
df['UMONAT'] = df['UMONAT'].map(str)
df['USTUNDE'] = df['USTUNDE'].map(str)
df['UWOCHENTAG'] = df['UWOCHENTAG'].map(str)

df.dtypes

OBJECTID         int64
LAND             int64
BEZ              int64
LOR_ab_2021    float64
UJAHR           object
UMONAT          object
USTUNDE         object
UWOCHENTAG      object
UKATEGORIE     float64
UART           float64
UTYP1          float64
ULICHTVERH     float64
IstRad         float64
IstPKW         float64
IstFuss        float64
IstKrad        float64
IstGkfz        float64
IstSonstige    float64
USTRZUSTAND    float64
LINREFX         object
LINREFY         object
XGCSWGS84      float64
YGCSWGS84      float64
dtype: object

In [97]:
df['UKATEGORIE'].value_counts() #Exploring target variable

3.0    9582
2.0    1654
1.0      31
Name: UKATEGORIE, dtype: int64

In [98]:
#Translating columns to English
df.rename(columns = {'OBJECTID':'id',
'LAND':'land',
'BEZ': 'district',
'LOR_ab_2021':'lor_ab_2021',
'UJAHR':'year',
'UMONAT':'month',
'USTUNDE':'hour',
'UWOCHENTAG':'day_of_week',
'UKATEGORIE':'accident_category',
'UART':'accident_details',
'UTYP1':'accident_type',
'ULICHTVERH':'light_condition',
'IstRad':'acc_with_bike',
'IstPKW':'acc_with_car',
'IstFuss':'acc_with_ped',
'IstKrad':'acc_with_motobike',
'IstGkfz':'acc_with_truck',
'IstSonstige':'acc_with_other',
'USTRZUSTAND':'road_condition',
'LINREFX':'LINREFX', 
'LINREFY':'LINREFY',
'XGCSWGS84':'longitude',
'YGCSWGS84':'latitude'}, inplace = True)

In [99]:
df = df.dropna()
df=df.drop(columns=['lor_ab_2021', 'LINREFX', 'LINREFY'])
df

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,3,2021,11,18,2,3.0,0.0,3.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,13.426895,52.533940
1,219248,11,7,2021,12,19,7,3.0,6.0,2.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,13.392090,52.439951
2,219247,11,4,2021,12,17,4,3.0,5.0,2.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13.326242,52.538028
3,219246,11,4,2021,12,15,7,3.0,5.0,2.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,13.316521,52.499534
4,219243,11,11,2021,12,9,5,3.0,3.0,6.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11262,112174,11,4,2021,3,16,4,3.0,6.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,13.296345,52.511008
11263,111541,11,4,2021,1,1,6,3.0,9.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13.289496,52.493813
11264,110370,11,3,2021,1,20,1,3.0,3.0,6.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,13.423095,52.527534
11265,109998,11,7,2021,1,14,7,3.0,2.0,6.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,13.359259,52.474367
11266,109753,11,12,2021,1,14,2,3.0,5.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,13.312868,52.622461

In [15]:
df.to_excel("Berlin_accidents_clean.xlsx", index=False)

In [100]:
import pandas as pd

df = pd.read_excel('Berlin_accidents_clean.xlsx')
df

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,3,2021,11,18,2,3,0,3,2,0,1,0,1,0,0,1,13.426895,52.533940
1,219248,11,7,2021,12,19,7,3,6,2,2,0,1,1,0,0,0,1,13.392090,52.439951
2,219247,11,4,2021,12,17,4,3,5,2,2,0,1,0,0,0,0,0,13.326242,52.538028
3,219246,11,4,2021,12,15,7,3,5,2,1,0,1,0,1,0,0,1,13.316521,52.499534
4,219243,11,11,2021,12,9,5,3,3,6,0,0,1,0,0,0,1,2,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11261,112174,11,4,2021,3,16,4,3,6,2,0,0,1,1,0,0,0,1,13.296345,52.511008
11262,111541,11,4,2021,1,1,6,3,9,1,2,0,1,0,0,0,0,0,13.289496,52.493813
11263,110370,11,3,2021,1,20,1,3,3,6,2,0,1,0,0,0,0,1,13.423095,52.527534
11264,109998,11,7,2021,1,14,7,3,2,6,0,0,1,0,0,0,0,1,13.359259,52.474367
11265,109753,11,12,2021,1,14,2,3,5,3,0,0,1,0,0,0,1,1,13.312868,52.622461

In [101]:
#2020
import pandas as pd
df1 = pd.read_csv('AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2020_Datensatz.csv', delimiter=';')
df1

,OBJECTID,LAND,BEZ,LOR,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,3187,11,8,8010510.0,8100521.0,2020,1,11,4,2,...,1,0,0,1,0,1,"802599,5332","5821795,373","13,45500598","52,4623009"
1,3198,11,4,4041137.0,4400727.0,2020,1,2,3,2,...,0,0,0,1,0,1,"791264,2064","5824629,955","13,29111618","52,49387309"
2,3215,11,4,4041239.0,4400830.0,2020,1,7,1,3,...,0,0,0,0,1,1,"792294,8083","5823598,115","13,30534822","52,48407191"
3,3224,11,2,2040502.0,2400521.0,2020,1,22,6,2,...,1,0,0,0,0,0,"801024,2746","5827862,923","13,43737099","52,517556"
4,3241,11,4,4041137.0,4400727.0,2020,1,17,1,3,...,0,0,1,0,0,1,"791889,2861","5824003,006","13,29974796","52,48791866"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11805,146061,11,7,7040403.0,7400823.0,2020,12,7,4,3,...,1,1,0,0,0,1,"797339,7447","5821935,194","13,37794126","52,46644169"
11806,146062,11,12,12231101.0,12400722.0,2020,12,17,3,3,...,1,0,0,0,0,1,"791814,8333","5837953,171","13,31091476","52,61301792"
11807,146065,11,1,1011306.0,1100313.0,2020,12,14,3,3,...,1,0,0,0,1,0,"799900,8048","5826514,725","13,41964879","52,50609051"
11808,146068,11,1,1011204.0,1100207.0,2020,12,16,3,3,...,1,1,0,0,0,1,"797982,8966","5826897,222","13,39181741","52,51057"
11809,146070,11,1,1033101.0,1300732.0,2020,12,14,4,3,...,1,0,0,1,0,0,"797307,1285","5832290,574","13,38671399","52,5592837"

In [102]:
#Changing column types

df1['IstRad'] = df1['IstRad'].astype(float)
df1['IstPKW'] = df1['IstPKW'].astype(float)
df1['IstFuss'] = df1['IstFuss'].astype(float)
df1['IstKrad'] = df1['IstKrad'].astype(float)
df1['IstGkfz'] = df1['IstGkfz'].astype(float)
df1['IstSonstige'] = df1['IstSonstige'].astype(float)
df1['UKATEGORIE'] = df1['UKATEGORIE'].astype(float)
df1['UART'] = df1['UART'].astype(float)
df1['UTYP1'] = df1['UTYP1'].astype(float)
df1['ULICHTVERH'] = df1['ULICHTVERH'].astype(float)
df1['USTRZUSTAND'] = df1['USTRZUSTAND'].astype(float)


df1['XGCSWGS84'] = df1['XGCSWGS84'].str.replace(',', '.').astype(float)
df1['YGCSWGS84'] = df1['YGCSWGS84'].str.replace(',', '.').astype(float)

df1['UJAHR'] = df1['UJAHR'].map(str)
df1['UMONAT'] = df1['UMONAT'].map(str)
df1['USTUNDE'] = df1['USTUNDE'].map(str)
df1['UWOCHENTAG'] = df1['UWOCHENTAG'].map(str)

df1.dtypes

OBJECTID         int64
LAND             int64
BEZ              int64
LOR            float64
LOR_ab_2021    float64
UJAHR           object
UMONAT          object
USTUNDE         object
UWOCHENTAG      object
UKATEGORIE     float64
UART           float64
UTYP1          float64
ULICHTVERH     float64
IstRad         float64
IstPKW         float64
IstFuss        float64
IstKrad        float64
IstGkfz        float64
IstSonstige    float64
USTRZUSTAND    float64
LINREFX         object
LINREFY         object
XGCSWGS84      float64
YGCSWGS84      float64
dtype: object

In [103]:
df1['UKATEGORIE'].value_counts() #Exploring target variable

3.0    10023
2.0     1742
1.0       45
Name: UKATEGORIE, dtype: int64

In [104]:
#Translating columns to English
df1.rename(columns = {'OBJECTID':'id',
'LAND':'land',
'BEZ': 'district',
'LOR_ab_2021':'lor_ab_2021',
'UJAHR':'year',
'UMONAT':'month',
'USTUNDE':'hour',
'UWOCHENTAG':'day_of_week',
'UKATEGORIE':'accident_category',
'UART':'accident_details',
'UTYP1':'accident_type',
'ULICHTVERH':'light_condition',
'IstRad':'acc_with_bike',
'IstPKW':'acc_with_car',
'IstFuss':'acc_with_ped',
'IstKrad':'acc_with_motobike',
'IstGkfz':'acc_with_truck',
'IstSonstige':'acc_with_other',
'USTRZUSTAND':'road_condition',
'LINREFX':'LINREFX', 
'LINREFY':'LINREFY',
'XGCSWGS84':'longitude',
'YGCSWGS84':'latitude'}, inplace = True)

In [105]:
df1 = df1.dropna()
df1=df1.drop(columns=['lor_ab_2021', 'LINREFX', 'LINREFY', 'LOR'])
df1

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,3187,11,8,2020,1,11,4,2.0,3.0,6.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,13.455006,52.462301
1,3198,11,4,2020,1,2,3,2.0,9.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,13.291116,52.493873
2,3215,11,4,2020,1,7,1,3.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,13.305348,52.484072
3,3224,11,2,2020,1,22,6,2.0,1.0,5.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13.437371,52.517556
4,3241,11,4,2020,1,17,1,3.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,13.299748,52.487919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11805,146061,11,7,2020,12,7,4,3.0,6.0,2.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,13.377941,52.466442
11806,146062,11,12,2020,12,17,3,3.0,5.0,3.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,13.310915,52.613018
11807,146065,11,1,2020,12,14,3,3.0,5.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,13.419649,52.506091
11808,146068,11,1,2020,12,16,3,3.0,6.0,2.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,13.391817,52.510570
11809,146070,11,1,2020,12,14,4,3.0,2.0,2.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,13.386714,52.559284

In [106]:
df10=pd.concat([df, df1],ignore_index=True)
df10

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,3,2021,11,18,2,3.0,0.0,3.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,13.426895,52.533940
1,219248,11,7,2021,12,19,7,3.0,6.0,2.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,13.392090,52.439951
2,219247,11,4,2021,12,17,4,3.0,5.0,2.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13.326242,52.538028
3,219246,11,4,2021,12,15,7,3.0,5.0,2.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,13.316521,52.499534
4,219243,11,11,2021,12,9,5,3.0,3.0,6.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23070,146061,11,7,2020,12,7,4,3.0,6.0,2.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,13.377941,52.466442
23071,146062,11,12,2020,12,17,3,3.0,5.0,3.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,13.310915,52.613018
23072,146065,11,1,2020,12,14,3,3.0,5.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,13.419649,52.506091
23073,146068,11,1,2020,12,16,3,3.0,6.0,2.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,13.391817,52.510570
23074,146070,11,1,2020,12,14,4,3.0,2.0,2.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,13.386714,52.559284

In [107]:
#2019
import pandas as pd
df2 = pd.read_csv('AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2019_Datensatz.csv', delimiter=';', encoding='latin1')
df2

,OBJECTID,LAND,BEZ,LOR,STRASSE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,49090,11,12,12301203,Wittenau SÃ¼d,2019,1,13,6,3,...,1,0,0,0,0,1,"794062,2837","5835083,823","13,34146","52,58609"
1,49091,11,3,3040818,Pankow SÃ¼d,2019,1,9,5,3,...,1,0,0,0,0,0,"799130,4007","5832327,415","13,41356","52,55862"
2,49093,11,12,12103115,Breitkopfbecken,2019,3,21,6,3,...,0,0,0,0,0,0,"795437,613","5833549,454","13,36034","52,57159"
3,49096,11,6,6040703,Nikolassee,2019,1,7,6,2,...,1,1,0,0,0,1,"786714,3754","5817042,137","13,21777","52,42825"
4,49097,11,7,7030303,Grazer Platz,2019,2,15,3,3,...,1,0,0,0,0,0,"796074,3342","5822724,905","13,36007","52,47421"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13385,202775,11,1,1011303,Alexanderplatzviertel,2019,12,15,2,3,...,1,1,0,0,0,0,"799498,019","5828344,449","13,41538","52,52271"
13386,202776,11,1,1011201,WilhelmstraÃŸe,2019,12,14,2,3,...,1,0,0,0,0,0,"797455,1835","5827060,276","13,38421","52,51232"
13387,202777,11,1,1011304,Karl-Marx-Allee,2019,12,14,2,3,...,1,0,0,0,1,0,"799730,882","5827547,138","13,41808","52,51544"
13388,202778,11,11,11030721,RÃ¼digerstraÃŸe,2019,12,18,4,2,...,1,0,1,0,0,0,"805189,971","5827912,648","13,49862","52,51569"
13389,202779,11,1,1011202,Unter den Linden Nord,2019,12,14,4,3,...,1,0,0,0,0,0,"797197,6797","5827499,898","13,38082","52,5164"

In [108]:
df2.drop(df2[df2['IstSonstige'] == '812083,7893'].index, inplace = True)

In [109]:
df2.dtypes

OBJECTID        int64
LAND            int64
BEZ             int64
LOR             int64
STRASSE        object
UJAHR           int64
UMONAT          int64
USTUNDE         int64
UWOCHENTAG      int64
UKATEGORIE      int64
UART            int64
UTYP1           int64
ULICHTVERH      int64
IstRad          int64
IstPKW          int64
IstFuss         int64
IstKrad         int64
IstGkfz         int64
IstSonstige    object
USTRZUSTAND    object
LINREFX        object
LINREFY        object
XGCSWGS84      object
YGCSWGS84      object
dtype: object

In [110]:
#Changing column types

df2['IstRad'] = df2['IstRad'].astype(float)
df2['IstPKW'] = df2['IstPKW'].astype(float)
df2['IstFuss'] = df2['IstFuss'].astype(float)
df2['IstKrad'] = df2['IstKrad'].astype(float)
df2['IstGkfz'] = df2['IstGkfz'].astype(float)
df2['IstSonstige'] = df2['IstSonstige'].astype(float)
df2['UKATEGORIE'] = df2['UKATEGORIE'].astype(float)
df2['UART'] = df2['UART'].astype(float)
df2['UTYP1'] = df2['UTYP1'].astype(float)
df2['ULICHTVERH'] = df2['ULICHTVERH'].astype(float)
df2['USTRZUSTAND'] = df2['USTRZUSTAND'].astype(float)


df2['XGCSWGS84'] = df2['XGCSWGS84'].str.replace(',', '.').astype(float)
df2['YGCSWGS84'] = df2['YGCSWGS84'].str.replace(',', '.').astype(float)  

df2['UJAHR'] = df2['UJAHR'].map(str)
df2['UMONAT'] = df2['UMONAT'].map(str)
df2['USTUNDE'] = df2['USTUNDE'].map(str)
df2['UWOCHENTAG'] = df2['UWOCHENTAG'].map(str)

df2.dtypes

OBJECTID         int64
LAND             int64
BEZ              int64
LOR              int64
STRASSE         object
UJAHR           object
UMONAT          object
USTUNDE         object
UWOCHENTAG      object
UKATEGORIE     float64
UART           float64
UTYP1          float64
ULICHTVERH     float64
IstRad         float64
IstPKW         float64
IstFuss        float64
IstKrad        float64
IstGkfz        float64
IstSonstige    float64
USTRZUSTAND    float64
LINREFX         object
LINREFY         object
XGCSWGS84      float64
YGCSWGS84      float64
dtype: object

In [111]:
#Translating columns to English
df2.rename(columns = {'OBJECTID':'id',
'LAND':'land',
'BEZ': 'district',
'LOR_ab_2021':'lor_ab_2021',
'UJAHR':'year',
'UMONAT':'month',
'USTUNDE':'hour',
'UWOCHENTAG':'day_of_week',
'UKATEGORIE':'accident_category',
'UART':'accident_details',
'UTYP1':'accident_type',
'ULICHTVERH':'light_condition',
'IstRad':'acc_with_bike',
'IstPKW':'acc_with_car',
'IstFuss':'acc_with_ped',
'IstKrad':'acc_with_motobike',
'IstGkfz':'acc_with_truck',
'IstSonstige':'acc_with_other',
'USTRZUSTAND':'road_condition',
'LINREFX':'LINREFX', 
'LINREFY':'LINREFY',
'XGCSWGS84':'longitude',
'YGCSWGS84':'latitude'}, inplace = True)

In [112]:
df2 = df2.dropna()
df2=df2.drop(columns=['LINREFX', 'LINREFY', 'LOR', 'STRASSE'])
df2

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,49090,11,12,2019,1,13,6,3.0,5.0,3.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,13.34146,52.58609
1,49091,11,3,2019,1,9,5,3.0,5.0,3.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,13.41356,52.55862
2,49093,11,12,2019,3,21,6,3.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,13.36034,52.57159
3,49096,11,6,2019,1,7,6,2.0,6.0,4.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,13.21777,52.42825
4,49097,11,7,2019,2,15,3,3.0,2.0,6.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13.36007,52.47421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13385,202775,11,1,2019,12,15,2,3.0,3.0,6.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,13.41538,52.52271
13386,202776,11,1,2019,12,14,2,3.0,1.0,5.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,13.38421,52.51232
13387,202777,11,1,2019,12,14,2,3.0,2.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,13.41808,52.51544
13388,202778,11,11,2019,12,18,4,2.0,5.0,2.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,13.49862,52.51569
13389,202779,11,1,2019,12,14,4,3.0,2.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,13.38082,52.51640

In [113]:
df20=pd.concat([df10, df2],ignore_index=True)
df20

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,3,2021,11,18,2,3.0,0.0,3.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,13.426895,52.533940
1,219248,11,7,2021,12,19,7,3.0,6.0,2.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,13.392090,52.439951
2,219247,11,4,2021,12,17,4,3.0,5.0,2.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13.326242,52.538028
3,219246,11,4,2021,12,15,7,3.0,5.0,2.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,13.316521,52.499534
4,219243,11,11,2021,12,9,5,3.0,3.0,6.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36459,202775,11,1,2019,12,15,2,3.0,3.0,6.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,13.415380,52.522710
36460,202776,11,1,2019,12,14,2,3.0,1.0,5.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,13.384210,52.512320
36461,202777,11,1,2019,12,14,2,3.0,2.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,13.418080,52.515440
36462,202778,11,11,2019,12,18,4,2.0,5.0,2.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,13.498620,52.515690
36463,202779,11,1,2019,12,14,4,3.0,2.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,13.380820,52.516400

In [122]:
#2018
import pandas as pd
df3 = pd.read_csv('AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2018_Datensatz.csv', delimiter=';', encoding='latin1')
df3

,OBJECTID,LAND,BEZ,LOR,STRASSE,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstig,STRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,112695,11,2,2050602.0,Samariterviertel,2500729.0,2018,1,15,4,...,1,1,0,0,0,1,"803604,1562","5827580,738","13,4750178","52,51359681"
1,112705,11,12,12304314.0,ZiekowstraÃŸe/Freie Scholle,12500824.0,2018,1,11,2,...,1,0,0,0,0,0,"790639,5854","5835009,589","13,29102205","52,58725906"
2,112726,11,2,2040501.0,Barnimkiez,2400520.0,2018,1,9,3,...,1,1,0,0,0,0,"799827,9618","5828733,523","13,42057818","52,52601854"
3,112737,11,7,7020202.0,Volkspark (Rudolf-Wilde-Park),7200308.0,2018,1,17,2,...,1,1,0,0,0,0,"795223,509","5823525,402","13,34828776","52,48184447"
4,112747,11,3,3020209.0,NiederschÃ¶nhausen,3200206.0,2018,1,15,4,...,0,1,0,0,0,1,"798261,3849","5835047,26","13,40322797","52,58347154"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647,208846,11,4,4020311.0,ReichsstraÃŸe,4200310.0,2018,12,10,6,...,1,0,0,0,0,0,"789485,0143","5826798,422","13,26686844","52,51426051"
13648,208848,11,3,3051017.0,RennbahnstraÃŸe,3501037.0,2018,12,10,6,...,1,0,0,0,0,1,"802289,3817","5833109,289","13,46073187","52,56387893"
13649,208850,11,2,2050601.0,Hausburgviertel,2500726.0,2018,12,9,6,...,1,0,0,0,0,1,"801882,5599","5829015,474","13,45102757","52,52741195"
13650,208851,11,11,11030618.0,Fennpfuhl West,11300618.0,2018,12,9,6,...,0,0,0,0,0,1,"802589,0571","5828801,391","13,46121525","52,52510148"
13651,208853,11,7,7040405.0,Rathaus Tempelhof,7400927.0,2018,12,7,6,...,1,0,0,0,0,1,"799071,0488","5821704,541","13,40314424","52,46342927"

In [123]:
#Changing column types

df3['IstRad'] = df3['IstRad'].astype(float)
df3['IstPKW'] = df3['IstPKW'].astype(float)
df2['IstFuss'] = df3['IstFuss'].astype(float)
df3['IstKrad'] = df3['IstKrad'].astype(float)
df3['IstGkfz'] = df3['IstGkfz'].astype(float)
df3['IstSonstig'] = df3['IstSonstig'].astype(float)
df3['UKATEGORIE'] = df3['UKATEGORIE'].astype(float)
df3['UART'] = df3['UART'].astype(float)
df3['UTYP1'] = df3['UTYP1'].astype(float)
df3['ULICHTVERH'] = df3['ULICHTVERH'].astype(float)
df3['STRZUSTAND'] = df3['STRZUSTAND'].astype(float)


df3['XGCSWGS84'] = df3['XGCSWGS84'].str.replace(',', '.').astype(float)
df3['YGCSWGS84'] = df3['YGCSWGS84'].str.replace(',', '.').astype(float)  

df3['UJAHR'] = df3['UJAHR'].map(str)
df3['UMONAT'] = df3['UMONAT'].map(str)
df3['USTUNDE'] = df3['USTUNDE'].map(str)
df3['UWOCHENTAG'] = df3['UWOCHENTAG'].map(str)

df3.dtypes

OBJECTID         int64
LAND             int64
BEZ              int64
LOR            float64
STRASSE         object
LOR_ab_2021    float64
UJAHR           object
UMONAT          object
USTUNDE         object
UWOCHENTAG      object
UKATEGORIE     float64
UART           float64
UTYP1          float64
ULICHTVERH     float64
IstRad         float64
IstPKW         float64
IstFuss          int64
IstKrad        float64
IstGkfz        float64
IstSonstig     float64
STRZUSTAND     float64
LINREFX         object
LINREFY         object
XGCSWGS84      float64
YGCSWGS84      float64
dtype: object

In [124]:
#Translating columns to English
df3.rename(columns = {'OBJECTID':'id',
'LAND':'land',
'BEZ': 'district',
'LOR_ab_2021':'lor_ab_2021',
'UJAHR':'year',
'UMONAT':'month',
'USTUNDE':'hour',
'UWOCHENTAG':'day_of_week',
'UKATEGORIE':'accident_category',
'UART':'accident_details',
'UTYP1':'accident_type',
'ULICHTVERH':'light_condition',
'IstRad':'acc_with_bike',
'IstPKW':'acc_with_car',
'IstFuss':'acc_with_ped',
'IstKrad':'acc_with_motobike',
'IstGkfz':'acc_with_truck',
'IstSonstig':'acc_with_other',
'STRZUSTAND':'road_condition',
'LINREFX':'LINREFX', 
'LINREFY':'LINREFY',
'XGCSWGS84':'longitude',
'YGCSWGS84':'latitude'}, inplace = True)

In [125]:
df3 = df3.dropna()
df3=df3.drop(columns=['LINREFX', 'LINREFY', 'LOR', 'STRASSE', 'lor_ab_2021'])
df3

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,112695,11,2,2018,1,15,4,3.0,6.0,4.0,0.0,0.0,1.0,1,0.0,0.0,0.0,1.0,13.475018,52.513597
1,112705,11,12,2018,1,11,2,3.0,2.0,6.0,0.0,0.0,1.0,0,0.0,0.0,0.0,0.0,13.291022,52.587259
2,112726,11,2,2018,1,9,3,3.0,6.0,4.0,0.0,0.0,1.0,1,0.0,0.0,0.0,0.0,13.420578,52.526019
3,112737,11,7,2018,1,17,2,3.0,6.0,7.0,2.0,0.0,1.0,1,0.0,0.0,0.0,0.0,13.348288,52.481844
4,112747,11,3,2018,1,15,4,3.0,6.0,7.0,1.0,1.0,0.0,1,0.0,0.0,0.0,1.0,13.403228,52.583472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647,208846,11,4,2018,12,10,6,3.0,5.0,3.0,0.0,0.0,1.0,0,0.0,0.0,0.0,0.0,13.266868,52.514261
13648,208848,11,3,2018,12,10,6,3.0,5.0,7.0,0.0,1.0,1.0,0,0.0,0.0,0.0,1.0,13.460732,52.563879
13649,208850,11,2,2018,12,9,6,3.0,2.0,6.0,0.0,0.0,1.0,0,0.0,0.0,0.0,1.0,13.451028,52.527412
13650,208851,11,11,2018,12,9,6,2.0,0.0,7.0,1.0,1.0,0.0,0,0.0,0.0,0.0,1.0,13.461215,52.525101
13651,208853,11,7,2018,12,7,6,3.0,5.0,3.0,1.0,0.0,1.0,0,0.0,0.0,0.0,1.0,13.403144,52.463429

In [126]:
df30=pd.concat([df20, df3],ignore_index=True)
df30

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,3,2021,11,18,2,3.0,0.0,3.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,13.426895,52.533940
1,219248,11,7,2021,12,19,7,3.0,6.0,2.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,13.392090,52.439951
2,219247,11,4,2021,12,17,4,3.0,5.0,2.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13.326242,52.538028
3,219246,11,4,2021,12,15,7,3.0,5.0,2.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,13.316521,52.499534
4,219243,11,11,2021,12,9,5,3.0,3.0,6.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50108,208846,11,4,2018,12,10,6,3.0,5.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13.266868,52.514261
50109,208848,11,3,2018,12,10,6,3.0,5.0,7.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,13.460732,52.563879
50110,208850,11,2,2018,12,9,6,3.0,2.0,6.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,13.451028,52.527412
50111,208851,11,11,2018,12,9,6,2.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,13.461215,52.525101
50112,208853,11,7,2018,12,7,6,3.0,5.0,3.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,13.403144,52.463429

In [127]:
df30.isna().sum()

id                   0
land                 0
district             0
year                 0
month                0
hour                 0
day_of_week          0
accident_category    0
accident_details     0
accident_type        0
light_condition      0
acc_with_bike        0
acc_with_car         0
acc_with_ped         0
acc_with_motobike    0
acc_with_truck       0
acc_with_other       0
road_condition       0
longitude            0
latitude             0
dtype: int64

In [128]:
df30.to_excel("Berlin_accidents_clean_2018_2021.xlsx", index=False)

In [129]:
import pandas as pd

df100 = pd.read_excel('Berlin_accidents_clean_2018_2021.xlsx')
df100

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,3,2021,11,18,2,3,0,3,2,0,1,0,1,0,0,1,13.426895,52.533940
1,219248,11,7,2021,12,19,7,3,6,2,2,0,1,1,0,0,0,1,13.392090,52.439951
2,219247,11,4,2021,12,17,4,3,5,2,2,0,1,0,0,0,0,0,13.326242,52.538028
3,219246,11,4,2021,12,15,7,3,5,2,1,0,1,0,1,0,0,1,13.316521,52.499534
4,219243,11,11,2021,12,9,5,3,3,6,0,0,1,0,0,0,1,2,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50108,208846,11,4,2018,12,10,6,3,5,3,0,0,1,0,0,0,0,0,13.266868,52.514261
50109,208848,11,3,2018,12,10,6,3,5,7,0,1,1,0,0,0,0,1,13.460732,52.563879
50110,208850,11,2,2018,12,9,6,3,2,6,0,0,1,0,0,0,0,1,13.451028,52.527412
50111,208851,11,11,2018,12,9,6,2,0,7,1,1,0,0,0,0,0,1,13.461215,52.525101
50112,208853,11,7,2018,12,7,6,3,5,3,1,0,1,0,0,0,0,1,13.403144,52.463429